<?xml version="1.0"?>
<launch>
        <arg name="use_sim_time" default="true" />
        <arg name="gui" default="true" />
        <arg name="headless" default="false" />
        <arg name="four_cameras" default="true"/>
        <arg name="world_frame"            default="odom"/>
        <arg name="namespace"              default=""/>
        <arg name="child_frame_id"         default="base_link"/>
  <!-- <arg name="world_name" default="$(find nexus_gazebo)/worlds/nexus_4wd_mecanum.world" /> -->

  <arg name="gazebo_world"                                default="$(find argos_config)/worlds/vineyard/trialForSimu.world" /> 
  
  
  <env name="GAZEBO_MODEL_PATH"     value="$(find argos_config)/worlds"/>


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
          <arg name="world_name" value="$(arg gazebo_world)"/>
          <arg name="gui" value="true" />
          <arg name="paused" value="false"/>
          <arg name="use_sim_time" value="true"/>
          <arg name="headless" value="false"/>
          <arg name="extra_gazebo_args" value="odom:=/gazebo/odom" />
  </include>
<!-- 
  <node ns="camera_1" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
        <param name="prefilter_size"                    value="5"/>
        <param name="prefilter_cap"                     value="25"/>
        <param name="correlation_window_size"           value="21"/>
        <param name="min_disparity"                     value="-59"/>
        <param name="disparity_range"                   value="224"/>
        <param name="uniqueness_ratio"                  value="69.0"/>
        <param name="texture_threshold"                 value="10"/>
        <param name="speckle_size"                      value="0"/>
        <param name="speckle_range"                     value="2"/>
  </node>
  <group if="$(arg four_cameras)">
    <node ns="camera_2" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
            <param name="prefilter_size"            value="5"/>
            <param name="prefilter_cap"             value="25"/>
            <param name="correlation_window_size"   value="21"/>
            <param name="min_disparity"             value="-59"/>
            <param name="disparity_range"           value="224"/>
            <param name="uniqueness_ratio"          value="69.0"/>
            <param name="texture_threshold"         value="10"/>
            <param name="speckle_size"              value="0"/>
            <param name="speckle_range"             value="2"/>
    </node>

    <node ns="camera_3" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
            <param name="prefilter_size"            value="5"/>
            <param name="prefilter_cap"             value="25"/>
            <param name="correlation_window_size"   value="21"/>
            <param name="min_disparity"             value="-59"/>
            <param name="disparity_range"           value="5"/>
            <param name="prefilter_cap"             value="25"/>
            <param name="correlation_window_size"   value="21"/>
            <param name="min_disparity"             value="-59"/>
            <param name="disparity_range"           value="224"/>
            <param name="uniqueness_ratio"          value="69.0"/>
            <param name="texture_threshold"         value="10"/>
            <param name="speckle_size"              value="0"/>
            <param name="speckle_range"             value="2"/>
    </node> 

    <node ns="camera_4" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
            <param name="prefilter_size"            value="5"/>
            <param name="prefilter_cap"             value="25"/>
            <param name="correlation_window_size"   value="21"/>
            <param name="min_disparity"             value="-59"/>
            <param name="disparity_range"           value="5"/>
            <param name="prefilter_cap"             value="25"/>
            <param name="correlation_window_size"   value="21"/>
            <param name="min_disparity"             value="-59"/>
            <param name="disparity_range"           value="224"/>
            <param name="uniqueness_ratio"          value="69.0"/>
            <param name="texture_threshold"         value="10"/>
            <param name="speckle_size"              value="0"/>
            <param name="speckle_range"             value="2"/>
    </node>  
  </group> -->

<!-- Load robot description -->
<include file="$(find nexus_4wd_mecanum_description)/launch/nexus_4wd_mecanum_description_4_cam.launch" />

  <!-- Spawn the robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model nexus_4wd_mecanum -param robot_description -x 0 -y 0 -z 0.05 -R 0 -P 0 -Y 1.57" />

        <!-- <node name="odom_to_tf" pkg="message_to_tf" type="message_to_tf" args="odom">
            <param name="~frame_id"                 value="$(arg world_frame)" />
            <param name="~stabilized_frame_id"      value="/$(arg namespace)/base_stabilized" />
            <param name="~footprint_frame_id"       value="/$(arg namespace)/base_footprint" />
            <param name="~child_frame_id"           value="$(arg child_frame_id)" />
        </node> -->
        
        <!-- <node pkg="tf" type="static_transform_publisher" name ="map_to_world" args="0 0 0 0 0 0 map world 100" /> -->

</launch>
